
.section{
    padding: 0px  30px;

    .cards{
display: grid;
            grid-template-columns: repeat(3, minmax(300px, 1fr));
            gap: 30px;
           
        .card{
            display: flex;
            flex-direction: column;
            gap: 10px;
.ti{
    display: flex;
    justify-content: space-between;
}
        span{
            color: rgba(105, 65, 198, 1);
        }
p{
    color: rgba(102, 112, 133, 1);
}
        }
    }
}


@media screen and (max-width : 992px) {
    .section{
     padding: 0px  10px;
     margin-bottom: 30px;
   .cards{
    display: block;
   } }
}

